<?xml version="1.0"?>
<config>
    <modules>
        <Achang_Scene7>
            <version>0.5.3</version>
        </Achang_Scene7>
    </modules>
    <global>
        <models>
            <scenescene7>
                <class>Achang_Scene7_Model</class>
                <resourceModel>scenescene7_resource</resourceModel>
            </scenescene7>
            <scenescene7_resource>
                <class>Achang_Scene7_Model_Resource</class>
                <entities>
                    <product_option_description>
                        <table>catalog_product_option_description</table>
                    </product_option_description>
                    <product_option_type_detail>
                        <table>catalog_product_option_type_detail</table>
                    </product_option_type_detail>
                    <scene_scene7_attribute>
                        <table>scene_scene7_attribute</table>
                    </scene_scene7_attribute>
                </entities>
            </scenescene7_resource>
            <catalog>
                <rewrite>
                    <product_option>Achang_Scene7_Model_Catalog_Product_Option</product_option>
                    <product_option_value>Achang_Scene7_Model_Catalog_Product_Option_Value</product_option_value>
                    <product_option_type_default>Achang_Scene7_Model_Catalog_Product_Option_Type_Default</product_option_type_default>
                </rewrite>
            </catalog>
            <adminhtml>
                <rewrite>
                      <system_config_source_product_options_type>Achang_Scene7_Model_System_Config_Source_Product_Options_Type</system_config_source_product_options_type>
                </rewrite>
            </adminhtml>
        </models>
        <resources>
            <scenescene7_setup>
                <setup>
                    <module>Achang_Scene7</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </scenescene7_setup>
            <scenescene7_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </scenescene7_write>
            <scenescene7_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </scenescene7_read>
        </resources>
          
        <catalog>
            <product>
                <type>
                     <scene7_product translate="label" module="scenescene7">
                        <label>Scene7 Product</label>
                        <model>scenescene7/product_type_scene7</model>
                        <composite>0</composite>
                        <is_qty>1</is_qty>
                        <price_model>scenescene7/product_price_scene7</price_model>
                    </scene7_product>
                </type>
            </product>
        </catalog>
        
        <blocks>
            <scenescene7>
                <class> Achang_Scene7_Block</class>
            </scenescene7>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_options_option>Achang_Scene7_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <product_view_options>Achang_Scene7_Block_Product_View_Options</product_view_options>
                </rewrite>
            </catalog>

        </blocks>
        <helpers>
            <scenescene7>
                <class>Achang_Scene7_Helper</class>
            </scenescene7>
        </helpers>
        <events>
        <!-- 
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <scenescene7_observer>
                        <class>scenescene7/observer</class>
                        <method>prepareProductForm</method>
                    </scenescene7_observer>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
         -->
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <scenescene7>
                    <file>achang_scene7.xml</file>
                </scenescene7>
            </updates>
        </layout>
        <routers>
            <scenescene7>
                <use>standard</use>
                <args>
                    <module>Achang_Scene7</module>
                    <frontName>scene7</frontName>
                </args>
            </scenescene7>
        </routers>
    </frontend>
    <admin>
        <routers>
            <scenescene7_admin>
                <use>admin</use>
                <args>
                    <module>Achang_Scene7</module>
                    <frontName>scenescene7_admin</frontName>
                </args>
            </scenescene7_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <scenescene7>
                    <file>achang_scene7.xml</file>
                </scenescene7>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <scenescene7 translate="title" module="scenescene7">
                                            <title>Scene7 Settings</title>
                                        </scenescene7>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>